*.zip
conf/stardog/stardog-license-key.bin
dist/data*
datamanager.log
dataplatform.log
conf/dataplatform/application.log
etc/*.log.*
data/data*
data/backups*
set-env.sh
aws/terraform/.terraform
*.tfstate
*.backup
